{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "tabWidth": 4,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "singleQuote": false,
        "tabWidth": 4,
        "trailingComma": "none"
      }
    }
  ]
}
